#create form {
    border: 2px solid #575757;
    border-radius: 4px;
    background-color: #dadada;
    text-align: left;
    display: inline;
    float: left;
    width: 49.5%;
}

#find form
{
    border: 2px solid #575757;
    border-radius: 4px;
    background-color: #dadada;
    text-align: left;
    display: inline;
    float: right;
    width: 49.5%;
}

#delete form
{
    margin-top: 10px;
    border: 2px solid #575757;
    border-radius: 4px;
    background-color: #dadada;
    text-align: left;
    display: inline;
    float: right;
    width: 49.5%;
}

#updateFlight{
    float: right;
    width: 46%;
}

#createFlight{
    float: left;
    width: 46%;
}

.button
{
    margin: 0 auto;
    width: 50%;
}

