form ul {
    font-family: "Arial", Arial, serif;
    display: inline-block;
    font-weight: bold;
    color: #494949;
}

form label
{
    font-family: "Arial", Arial, serif;
    display: inline-block;
    margin: 0 0 5px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    color: #393939;
}

form p
{
    margin-left: 10px;
    font-family: "Arial", Arial, serif;
    font-size: x-large;
    color: #5a5a5a;
}

form input
{
    width: 95%;
    height: 25px;
    margin: 0 10px 5px;
    border: 1px solid #444444;
    border-radius: 4px;
    color: #000000;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}