body
{
    max-width: 700px;
}

H1
{
    font-family: "Arial", Arial, serif;
    align-content: center;
    text-align: center;
}

form
{
    margin-top: 30%;
}

p {
    font-family: "Arial", Arial, serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
}


.checkbox label
{
    display: inline-block;
    padding-right: 20px;
    margin-right: 20px;
}

.checkbox input
{
    padding-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: center;
    position: relative;
    top: -1px;
    overflow: hidden;
}